body {
    background-color: #353535;
}

code {
    padding: 3px 5px;
    background-color: #f4f78e;
    border-radius: 3px;
}

a {
    color: #f4f78e;
    font-weight: bold;
}

#preview-markdown-div img {
    border-radius: 10px;
    border: 2px solid white;
    /* width: 80%;; */
}

*:has(> img) {
    /* overflow-x: scroll; */
}

#rawMarkdownUrl::placeholder {
    color: rgb(219, 219, 219);
    font-style: italic;   
}

#preview-markdown-url {
    overflow-wrap: anywhere;
}

table {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 15px;
}

table td {
    padding:5px 10px;
    border: 1px solid rgb(170, 170, 170);
}

table thead {
    background-color: rgba(var(--bs-warning-rgb)) ;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

blockquote {
    padding: 10px;
    border-left: 3px solid black;
    background-color: #292929d6;
}